services:
  quakejs:
    image: treyyoder/quakejs:latest
    container_name: quakejs
    environment:
      - HTTP_PORT=8088
      - SERVER=0.0.0.0
    ports:
      - "8088:80"
      - "27960:27960"
    entrypoint: >
      sh -c "
      cd /var/www/html &&
      sed -i \"s/'quakejs:/window.location.hostname + ':/g\" index.html &&
      sed -i \"s/':80'/':${HTTP_PORT}'/g\" index.html &&
      /etc/init.d/apache2 start &&
      cd /quakejs &&
      node build/ioq3ded.js
        +set fs_game baseq3
        +set dedicated 1
        +set fs_cdn 127.0.0.1
        +exec server.cfg
      "
